/GD32E103_Main/Project/Keil_project/output
/GD32E103_Main/Project/gd32e10x_it.c
/GD32E103_Main/Project/gd32e10x_libopt.h
/GD32E103_Main/Project/main.c
/GD32E103_Main/Project/readme.txt
/GD32E103_Main/Project/systick.c
/GD32E103_Main/Project/systick.h
/GD32E103_Main/Project/gd32e10x_it.h
HAWACO_DATALOGER_V1.0 (5-4-2021 10-15-09 PM)/Sch/__Previews
HAWACO_DATALOGER_V1.0 (5-4-2021 10-15-09 PM)
*.map
*.lst
*.huybk213
~$Data fomat datalogger (1).xlsx
GD32E103_Main/Project/Keil_project/JLinkLog.txt
GD32E103_Main/Project/Keil_project/Project.uvoptx
*.jlink
GD32E103_Main/Bootloader/MDK-ARM/object
GD32E103_Main/Bootloader/Test_Images
~$Data fomat datalogger (2).xlsx
GD32E103_Main/Project/Keil_project/Project.emSession
GD32E103_Main/Project/.vscode
GD32E103_Main/Project/Keil_project/Project.uvguix.huybk
*.o
*.crf
*.d
Data_logger/MDK-ARM/DebugConfig/Data_logger_STM32L083RZTx.dbgconf
*.huybk
*.htm
*.dep
.vscode
hw/HAWACO_DATALOGER_DT-G2_V1.0 (6-12-2021 11-17-38 AM)/Sch/__Previews
~$Estimate.xlsx
~$Data fomat datalogger_ByTech,PLC comment (1).xlsx
Data_logger/MDK-ARM/Data_logger
hw/DT-G1/HAWACO_DATALOGER_DT-G1_V2.0 (6-12-2021 11-16-03 AM)/Sch/__Previews
Data_logger/MDK-ARM/JLinkLog.txt
DTG02/MDK-ARM/DTG02
DTG02/MDK-ARM/DTG02.uvguix.huytv
*.__i
*._ia
DTG01/MDK-ARM/DTG01
DTG01/MDK-ARM/JLinkLog.txt
DTG02/MDK-ARM/JLinkLog.txt
02.Firmware/DTG02/MDK-ARM/DTG02
02.Firmware/Bootloader/Bootloader/MDK-ARM/Bootloader
02.Firmware/Bootloader/Bootloader/MDK-ARM/JLinkLog.txt
02.Firmware/DTG02/MDK-ARM/Output
02.Firmware/DTG02/MDK-ARM/JLinkLog.txt
02.Firmware/jig_test/test
02.Firmware/DTG01/MDK-ARM/JLinkLog.txt
01.Docs/Other/Hawaco.Datalogger Software.2021-08-16/Log
02.Firmware/DTG01/MDK-ARM/DTG01
*.SchDocPreview
*.axf
02.Firmware/DTG02_Bootloader/MDK-ARM/DTG02
02.Firmware/DTG02_Bootloader/MDK-ARM/JLinkLog.txt
02.Firmware/DTG02_V2/MDK-ARM/JLinkLog.txt
02.Firmware/DTG02_V2_Bootloader/MDK-ARM/JLinkSettings.ini
02.Firmware/DTG02_V2_Bootloader/MDK-ARM/JLinkLog.txt
*.sct
*.iex
*.lnp
*.dbgconf
